<h1>New Item</h1>

<form class="form-inline">
	<div class="form-group">
		<label for="url">Url</label>
		<input type="text" class="form-control" ng-model="item.url"></input>
	</div>

    <button type="submit" ng-click="retreiveImages(item)">Go</button>
</form>
