<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		    	<span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
	      	</button>
			<a class="navbar-brand" ui-sref="home">Wishlist</a><!--navbar-brand -->
		</div><!-- ./navbar-header -->
		
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">

			</ul>

			<ul class="nav navbar-nav navbar-right" ng-hide="user">
				<li><a ui-sref="login">Login</a></li>
				<li><a ui-sref="register">Register</a></li>
			</ul>

			<ul class="nav navbar-nav navbar-right" ng-show="user">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">{{ user.firstName }} <span class="caret"></span> </a>
					<ul class="dropdown-menu">
						<li><a ui-sref="show_profile({userId: user.id})">Profile</a></li>
						<li><a ui-sref="new_wishlist">New Wishlist</a></li>
						<li><a ui-sref="all_wishlist">List Wishlist</a></li>
					</ul>
				</li>
				<li><a ui-sref="logout">Logout</a></li>
			</ul>
		</div><!-- ./collapse ./navbar-collapse -->

	</div><!-- ./container-fluid -->
</nav><!-- ./navbar ./navbar-default -->
