<h1>{{ wishlist.name }}</h1>

<p>{{ wishlist.description }}</p>

<ul>
	<li ng-repeat="item in wishlist.items">{{ item.name }}</li>
</ul>



<a class="btn btn-default" ui-sref="new_item({wishlistId: wishlist.id})">Add Item</a>